<h1>Landing#index</h1>
<p>Find me in app/views/landing/index.html.erb</p>

<div id="dog-div"> 
  <p class="grow-up">
    When i grow up I'd like to have at least <%=@result%>
    <%=@dog_breed%>
  </p>
  <ul>
    <% @result.times do |i| %>
      <li>Vilko <%= i + 1 %>.</li>
    <% end %>

    <% if @dog_breed > 'Labrador' %>
      <p><%= @dog_breed %> is alphabetically a large dog</p>
    <% else %>
      <p><%= @dog_breed %> is alphabetically a small dog</p>
    <% end %>
  </ul>
</div>
